.wrapper {
  height: 100%;
  padding: 20vh 10vw 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.icon {
  width: 48px;
  margin-bottom: 24px;
}
.title {
  margin-bottom: 12px;
  color: #1a87ff;
  font-size: 24px;
  font-weight: 600;
}
.content {
  margin-bottom: 8px;
  color: rgba(48, 52, 56, 0.68);
}
