.page {
  width: 760px;
  margin: 0 auto;
  padding: 20px 0 40px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.6;
  position: relative;
  h2 {
    padding: 0.5em 0;
    border-bottom: 1px solid var(--area3);
  }
  section {
    padding-left: 24px;
  }
}
