.section:not(:first-child) {
  margin-top: 20px;
}
.block:not(:first-child) {
  margin-top: 8px;
}
strong {
  font-weight: 600;
  color: var(--pink);
}
hr {
  border: none;
  outline: none;
  margin: 20px 0;
  border-top: 1px solid var(--area3);
}
a {
  color: var(--pink);
  font-weight: 600;
  text-decoration: unset;
}

/********************************/

.page {
  width: 760px;
  margin: 0 auto;
  padding: 60px 50px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
}
.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
}
.plabel {
  width: 166px;
  display: inline-block;
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.footerItem:not(:first-child) {
  margin-left: 40px;
}
