.section {
  display: flex;
  &:not(:first-child) {
    margin-top: 24px;
  }
}
.title {
  font-size: 28px;
  line-height: 1;
}
.subtitle {
  padding: 0 8px;
}
.label {
  flex: none;
  width: 96px;
  height: min-content;
  font-weight: 600;
  padding: 0 8px;
  box-sizing: border-box;
}
.content {
  flex: 1;
}
