.logo {
  height: 24px;
  display: block;
  border-radius: 3px;
}
.pw {
  padding: 4px 0;
  .row {
    display: flex;
    &:not(:first-child) {
      margin-top: 3px;
    }
  }
  .label {
    flex: none;
    width: 80px;
    text-align: center;
    margin-right: 16px;
    line-height: 28px;
  }
  .cont {
    flex: 1;
    display: grid;
    row-gap: 3px;
    column-gap: 3px;
    grid-template-columns: repeat(auto-fill, 28px);
    .icon {
      height: 28px;
      display: block;
      border-radius: 3px;
    }
  }
}
.cw {
  padding: 4px 0;
  a {
    color: var(--font);
    font-weight: 400;
    text-decoration: underline;
  }
  .row {
    display: flex;
    &:not(:first-child) {
      margin-top: 3px;
    }
  }
  .label {
    flex: none;
    width: 80px;
    text-align: center;
    margin-right: 16px;
  }
  .cont {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
}
